*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

section{
    min-height: 80rem;
    width: 100vw;
}
body{
    font-size: 2rem;
    overflow-x: hidden;
    font-family: sans-serif;
}