@use "../../abstract/colors";
@use "../../abstract/mixins";
@use "../../abstract/fonts";

.nieuws{
    background: colors.$section-color;
    @include mixins.flexcenter;
    flex-direction: column;
    gap: 4rem;
    font-family: sans-serif;

    &__article{
        width: 80rem;
        height: 35rem;
        background: colors.$article-color;
        margin-top: 5rem;
        margin-bottom: 5rem;
        box-shadow: rgba(0, 0, 0, 0.24) 0 0.3rem 0.8rem;
    }
}

.nieuws>article>h1{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    padding: 1rem;
}

.nieuws>article>p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 1rem;
}