@use "../../abstract/colors";
@use "../../abstract/mixins";
@use "../../abstract/fonts";

.agenda{
    background: colors.$section-color;
    @include mixins.flexcenter;
    flex-direction: column;
    gap: 5rem;
    padding-top:3rem ;
        

    &__img{
        width: 130rem;
        height: 60rem;
        object-fit: cover;
    }


    &__article{
        width: 80rem;
        height: 35rem;
        background: colors.$article-color;
        margin-bottom: 5rem;
        box-shadow: rgba(0, 0, 0, 0.24) 0 0.3rem 0.8rem;
    }

    &__article--img{
        width: 12rem;
        height: 12rem;
        margin-top: 2rem;
        margin-left: 2rem;
        object-fit: cover;
     
     
    }

    &__h2{
        padding: 4rem;
        margin-left: 6rem;
        width: 100%;
    }

    &__div{
        display: flex;
        flex-direction: row;
        
    }

    &__p{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4rem;
    }
}